p {
  margin: 0;
}

#chapter_1 p {
  text-indent: 4vmin;
}

.annotated::before {
  content: "📀";
}

.spaced:not(:last-child)::after {
  content: "\2003";
  /* background-color: red; */
}

:not(.lines) > * > .poi:not(:last-child)::after {
  content: "\2003";
  /* background-color: orange; */
}

.poi > span:hover {
  background-color: whitesmoke;
}

.poi.annotated:not([selected]) > span:hover {
  background-color: lightyellow;
}

.poi[selected] > span {
  background-color: gainsboro;
  transition: all 0.5s linear;
}

.flush,
#chapter_2 p {
  text-indent: 0;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 2vmin;
}

main {
  display: flex;
  height: 100vh;
  /* overflow: scroll; */
}

.column {
  box-sizing: border-box;
  padding: 50vh 5vmin;
  scroll-behavior: smooth;

  height: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden; */

  width: 50%;
  display: flex;
  flex-direction: column;
}

/* #focus_indicator {
    position: absolute;
    width: 50%;
    height: 2.5vmin;
    top: calc(50% + 1vmin);
    pointer-events: none;
    transform: translateY(-50%);
}

.focus_arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 2.5vmin solid transparent;
    border-bottom: 2.5vmin solid transparent;
    top: 50%;
    transform: translateY(-50%);
}

#focus_left {
    border-left: 2.5vmin solid gray;
}

#focus_right {
    right: 0;
    border-right: 2.5vmin solid gray;
} */

#excerpt {
  gap: 10vmin;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.section {
  display: flex;
  flex-direction: column;
}

.poem {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

#annotations {
  row-gap: 3vmin;
}

.annotation {
  user-select: none;
  cursor: pointer;
}

.annotation:hover {
  background-color: whitesmoke;
}

.annotation[selected] {
  background-color: gainsboro;
  transition: all 0.5s linear;
}

.call::before,
.response::before,
.beloved::before,
.sethe::before,
.denver::before {
  display: inline-block;
  width: 6vmin;
  font-weight: bold;
}

.call::before {
  content: "Call: ";
}

.response::before {
  content: "";
}

.response::after {
  margin-left: 5vmin;
  content: "Response";
  font-weight: bold;
}

.beloved::before {
  content: "B: ";
  color: pink;
}

.beloved.annotated::before {
  content: "B: 📀";
}

.sethe::before {
  content: "S: ";
  color: crimson;
}

.sethe.annotated::before {
  content: "S: 📀";
}

.denver::before {
  content: "D: ";
  color: seagreen;
}

.denver.annotated::before {
  content: "D: 📀";
}
